body {
  margin: 0;
  width: 100vw;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color:#F5F7FB;
  color: #293264
}


h1{
  font-family: 'Karla', sans-serif;
}

button {
  background: #4D5B9E;
  color: #F5F7FB;
  border: none;
  font-family: 'Inter';
}

button:hover{
  box-shadow: black 3px 3px 5px;
 }
button:active{
 box-shadow: inset black 3px 3px 5px;
}
button::selection{
  background-color: red;
}

.start-screen{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.start-screen > h1{
  margin: 0;
}

.start-screen > p{
  margin-bottom: 30px;
}

.start-screen > button{
  width: 193px;
  height: 52px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.categories{
  margin: auto;
  width: 80%;
  /* display: grid; */
  align-items: center;
  text-align: center;
}

.categories-button {
  width: 280px;
  height: 70px;
  max-height: 80px;
  margin: 5px; 
  border-radius: 5px;
 }

 .categories-selection{
   column-width: 280px;
   /* width: 80%; */
   margin:auto;
   align-items: center;
   text-align: center;
 }


.questions{
  text-align: center;
}
