body {
  margin: 0;
  width: 100vw;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color:#F5F7FB;
  color: #293264
}


h1, h2, h3{
  font-family: 'Karla', sans-serif;
}


button{
  font-family: 'Inter', sans-serif;
}
.categories-button, .start-button, .questions-check {
  background: #4D5B9E;
  color: #F5F7FB;
  border: none;
}

button:hover{
  box-shadow: black 2px 2px 3px;
 }

button:active{
 box-shadow: inset black 2px 2px 3px;
}
